/* #pagintion {
    list-style: none;
    margin: 0;
    text-align: center;
} */
/* #pagintion li {
    display: inline-block;
    background-color: rgb(212, 247, 235);
    
    font-size: bold;
    width: 28px;
    text-align: center;
    
    margin: 0 2px;
    
    padding: 5px;
    line-height: 28px;
    width: 28px;
} */
#pagintion li:hover{
    border-radius: 4px;
    color: #000;
    cursor: pointer;
}

#table{
padding: 10px 400px ;
}
#table td {
 padding: 10px;
 border: 1px solid black;
 
}

.slider-controls{
    margin: auto;
    width: 800px;
    overflow: hidden;
    
}

.slider-controls .prev,
.slider-controls .next{
    background-color: aquamarine;
    color: #000;
    font-size: 16px;
    width: 80px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px;
    user-select: none;
    width: 20%;
}

.slider-controls .prev{
    float: left;
}

.slider-controls .next{
    float: right;
}